body {
	font-family: "Poppins", sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	font-size: 14px;
	line-height: 22px;
}

a{
	text-decoration: none;
}

nav ul{
	text-align: center;
	display: flex;
	background-color: #0a0a0a;
	font-size: 14px;
	font-weight: 500;
    line-height: 22px;
    margin: 0px;
}

nav li{
	list-style-type: none;
	text-align: center;
    padding: 20px 22px 18px 22px ;
}

nav li a{
	color: white;
	text-decoration: none;
}

nav li a:hover{
	color: #f4544c;
}

.li1{
	width: 143px;
    height: 25px;
    padding: 0 250px 0 50px;
}

.li2{
	padding: 30px 28px;
	color: #ffffff;
    background-color: #f4544c;
    border-color: #f4544c #f4544c #f1261c;
    text-transform: uppercase;
    margin: 20px; 
}


.sec1{
	background-color: #ffffff;
    padding: 50px 110px;

}

h2{
	color: #f4544c;
	font-weight: 700;
	font-size: 2.2em;
	letter-spacing: -1px;
	margin-bottom: 0;
}

.sec1 h3{
	color: #0a0a0;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 10px 0;
}

.sec3 h3{
	margin:0px;
}

.sec1 p{
	color: #5e5e5e;
	line-height: 24px;
	font-size: 16px;


}



.sec2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #0a0a0a;
	padding: 30px 50px 50px 90px;
}


.sec2 div{
	position: relative;
	background-color: #ffffff;
	text-align: center;
	margin: 15px;
	width: 25%;
	padding: 30px;
}

.sec2 h3{
	color: #0a0a0a;
	font-size: 2.7em;
    letter-spacing: -1px;
    margin: 40px 0px 20px;
    font-weight: 700;
}

h4{
	color: #f4544c;
	font-size: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 50px;
    font-weight: 700; 
}

.sec2 ul{
	color: #777;
	text-align: center;
	padding: 0;
}

.sec2 ul li{
	list-style-type: none;
    margin-top: 9px;
    margin-bottom: 0;
    padding-bottom: 9px;
    border-bottom: 1px solid #DBDBDB;
}

.li{
	border:none;
}



.sec2 a{
	position: absolute;
	bottom: -25px;
	left: 33%;
	color: #ffffff;
    background-color: #f4544c;
    border-color: #f4544c #f4544c #f1261c;
    padding: 13px 25px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
    line-height: 1.42857143;
}

.sec2 a:hover{
	border-color: #f56b64 #f56b64 #f33d34;
    background-color: #f56b64;
}


.sec3{
	display:flex;
	justify-content: space-around;
	padding: 10px 70px;
}

.sec3 div{
	text-align: center;
	flex-direction: column;
	margin: 80px 10px;
	
}

.sec3 a{
	color: #ffffff;
    background-color: #f4544c;
    border-color: #f4544c #f4544c #f1261c;
    padding: 13px 25px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}

.sec3 a:hover{
	border-color: #f56b64 #f56b64 #f33d34;
    background-color: #f56b64;
}

.sec3 h3{
	color: #0a0a0a;
	margin: 12px 0 17px 0;
	font-size: 2.2em;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1px;
}

.sec3 p{
	margin: 0 0 50px 0;
	color: #5e5e5e;
	line-height: 24px;

}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 68px;
    left: 10px;
    background: #1e1e1e;
    min-width: 200px;
    padding: 5px;
    text-align: left;
    opacity: 1;
    z-index: 1;
}

.dropdown-content a {
    color: #969696;
    border-bottom: 1px solid rgba(204, 204, 204, 0.19);
    font-size: 0.9em;
    font-weight: 400;
    padding: 8px 20px 8px 8px;
    position: relative;
    text-transform: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    background-color: rgba(204, 204, 204, 0.19);
    color: #969696;
}



footer{
	background-color: #0a0a0a;
	color: white;
    font-size: 0.9em;
    text-align: center;
    padding: 50px 0;
}


.fafa i{
	padding: 5px 10px;
	font-size: 17px;
	transition: 0.5s;
	color: white;
}

.fafa i:hover{color: #777;}

footer p{
	color: #777;
}

footer span{
	font-weight: 400;
	color: #ffffff;
}
